.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  color: var(--background-color-4);
  padding: 0 2rem;
  height: 60px;
  border-bottom: solid 1px;
}

.nav-logo a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.nav-links {
  font-family: var(--font-heading);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav-links li {
  padding-left: 3rem;
}

.nav-links a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.5rem;

  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.2s ease-in-out;
}

.nav-links a:hover {
  color: var(--text-color-2);
  border-bottom-color: 1px var(--secondary-color);
}

.nav-links a.active {
  border-bottom-color: var(--secondary-color);
}
.nav-button-pages{
  display: flex;
  margin-left: auto;
}
.nav-button-container{
  display: flex;
  margin-left: auto;
}
.theme-toggle-button .theme-icon {
  width: 24px; 
  height: 24px;
  vertical-align: middle;
  background-color: var(--text-color);
  display: inline-block;
  -webkit-mask-size: cover;
  mask-size: cover;
}


.theme-toggle-button {
  background: var(--background-color-2);
  border: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-body);
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
}

.theme-toggle-button:hover {
  background-color: var(--text-light);
  color: var(--text-color-2);
}