.league-tabs {
  display: flex;
  flex-wrap: wrap; /* Allows tabs to wrap on small screens */
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #ccc;
}

.tab {
  padding: 10px 18px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color);
  border: none;
  background-color: transparent;
  border-bottom: 3px solid transparent; /* Placeholder border */
  margin-bottom: -2px; /* Sits on top of the main border */
}

.tab:hover {
  background-color: var(--background-color-2);
  border-bottom: 3px solid var(--highlight);
}

.tab.active {
  color: var(--highlight);
  border-bottom: 3px solid var(--highlight);
}

.tabs-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.league-tabs{
  width: 100%;
  display: flex;
  justify-content: center;
}