.standings-table {
  width: 800px;
  margin-top: 2rem;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.standings-table th,
.standings-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.standings-table th {
  background-color: var(background-color);
  font-weight: bold;
}

.standings-table tbody tr:nth-child(6) {
  border-bottom: 3px solid var(--highlight); /* A thicker, red border */
}

/* This makes every other row a slightly different color */
.standings-table tbody tr:nth-child(even) {
  background-color: var(--background-color-2);
}